.body-font {
  font-family: "Khula", sans-serif;
}
.title-font {
  font-family: "Raleway", sans-serif;
}
/* Globals */
body {
  font-family: "Khula", sans-serif;
  background: #ffffff;
  word-wrap: break-word;
}
.mega-container {
  background: white;
  max-width: 1170px;
  margin: auto;
  margin-top: 20px;
  overflow: visible;
}
a {
  color: #e10d0d;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #e10d0d;
}
.container {
  margin: auto;
}
/* ---------- Header ------------- */
#top-bar {
  background: #f4f4f4;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  #top-bar .social-icons {
    text-align: center;
  }
}
#top-bar .social-icons a {
  background: #fff;
  padding: 5px 10px;
  padding-top: 9px;
  color: #777777;
  float: right;
  margin-right: 6px;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  min-width: 32px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  #top-bar .social-icons a {
    float: none;
  }
}
#top-bar .social-icons a:hover {
  background: #e1e1e1;
}
#top-bar #searchicon {
  background: #eee;
  border: solid 2px #ddd;
  padding-top: 6px;
  padding-bottom: 4px;
}
#masthead {
  text-align: left;
  min-height: 220px;
}
#masthead #text-title-desc {
  clear: none;
  float: left;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  #masthead #text-title-desc {
    float: none;
  }
}
#masthead h1.site-title {
  font-size: 32px;
  font-weight: 300;
  margin-top: 0px;
}
#masthead h2.site-description {
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
}
.site-branding {
  padding: 45px 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .site-branding {
    text-align: center;
  }
}
#site-logo {
  display: inline-block;
  float: left;
}
@media screen and (max-width: 768px) {
  #site-logo {
    float: none;
  }
}
#jumbosearch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.84);
  z-index: 99;
  text-align: center;
  display: none;
}
#jumbosearch .form {
  margin-top: 20%;
}
#jumbosearch .form label {
  width: 80%;
  text-align: center;
}
#jumbosearch .form input[type=search] {
  background: none;
  outline: none;
  padding: 20px;
  font-size: 28px;
  border: none;
  border-bottom: solid 1px #ddd;
  border-radius: 0;
  color: white;
  width: 80%;
  text-align: center;
  clear: both;
}
#jumbosearch .form input[type=submit] {
  display: none;
  text-transform: uppercase;
}
#jumbosearch .closeicon {
  position: absolute;
  right: 30px;
  top: 40px;
  color: #eee;
  font-size: 27px;
  padding: 15px;
  cursor: pointer;
}
/* -------- Nav Menu ---------- */
#site-navigation {
  float: left;
  background: #f4f4f4;
}
#site-navigation ul {
  /* for the Currently active page */
}
#site-navigation ul li a {
  padding: 10px;
  color: #888;
  font-weight: 400;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
}
#site-navigation ul li a:hover {
  background: #ececec;
}
#site-navigation ul li:hover a {
  background: #ececec;
}
#site-navigation ul li ul li .menu-desc {
  display: none;
}
#site-navigation ul li ul.sub-menu,
#site-navigation ul li ul.children {
  background: #ececec;
  top: 60px;
  display: block;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  perspective: 1000;
  -webkit-perspective: 1000;
  transform-origin: top;
  -webkit-transform-origin: top;
  transform: perspective(350px) rotateX(-90deg);
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -moz-transform: perspective(350px) rotateX(-90deg);
}
#site-navigation ul li ul.sub-menu li ul,
#site-navigation ul li ul.children li ul {
  transform-origin: left;
  -webkit-transform-origin: left;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  left: 100%;
  top: 0;
  opacity: 0;
  -webkit-transform: rotateY(65deg) !important;
  transform: rotateY(65deg) !important;
  -moz-transform: rotateY(65deg) !important;
}
#site-navigation ul li ul.sub-menu li ul li ul,
#site-navigation ul li ul.children li ul li ul {
  display: none !important;
}
#site-navigation ul li ul.sub-menu li:hover,
#site-navigation ul li ul.children li:hover {
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  /* -webkit-transition: 0.2s all ease !important; */
}
#site-navigation ul li ul.sub-menu li:hover ul,
#site-navigation ul li ul.children li:hover ul {
  opacity: 1;
  transform: rotateY(5deg) !important;
  -webkit-transform: rotateY(5deg) !important;
  -moz-transform: rotateY(5deg) !important;
}
#site-navigation ul li ul.sub-menu a,
#site-navigation ul li ul.children a {
  padding: 8px 15px;
  font-weight: lighter;
  font-size: 14px;
  transition: 0.4s background ease, 0.6s padding ease;
}
#site-navigation ul li ul.sub-menu a:hover,
#site-navigation ul li ul.children a:hover {
  background: #fff;
  padding-left: 19px;
}
#site-navigation ul li:hover {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease !important;
}
#site-navigation ul li:hover ul.sub-menu,
#site-navigation ul li:hover ul.children {
  display: block;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}
#site-navigation ul .current_page_item > a,
#site-navigation ul .current-menu-item > a,
#site-navigation ul .current_page_ancestor > a {
  color: #888;
  background: #dbdbdb;
  border-right: solid 1px #cecece;
  border-left: solid 1px #cecece;
}
#site-navigation .fa {
  padding: 0 5px 0 0;
}
#site-navigation .menu-desc {
  font-size: 12px;
  font-weight: 300;
  color: #999;
  display: inline-block;
  margin-top: -5px;
  font-style: italic;
  text-transform: lowercase;
}
#site-navigation .current_page_item > a,
#site-navigation .current-menu-item > a,
#site-navigation .current_page_ancestor > a {
  color: #e10d0d;
}
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 600px) {
  .slicknav_menu {
    display: block;
  }
  .slicknav_menu .slicknav_menutxt {
    margin-top: 2px;
  }
  #site-navigation ul.menu {
    display: none;
  }
  .slicknav_nav .menu-desc {
    display: none !important;
  }
  .slicknav_nav a {
    color: #777777;
  }
  .slicknav_nav a .fa {
    margin-right: 5px;
  }
  .slicknav_nav .slicknav_arrow {
    display: none;
  }
  .slicknav_menu {
    background: #eee;
  }
  .slicknav_btn {
    background: #ddd;
    border: solid 1px #ccc;
  }
  .slicknav_menutxt {
    color: #777777 !important;
    text-shadow: none !important;
  }
  .slicknav_icon-bar {
    background-color: #777777 !important;
  }
}
/* TOP MENU */
#top-menu {
  float: left;
}
@media screen and (max-width: 600px) {
  #top-menu {
    float: none;
    text-align: center;
    padding: 15px;
  }
}
#top-menu ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0px;
}
#top-menu ul ul {
  display: none;
}
#top-menu ul li {
  display: inline;
}
#top-menu ul li a {
  padding: 8px 5px;
  display: inline-block;
  color: #777777;
  font-size: 13px;
  font-weight: normal;
}
#top-menu ul li a:hover {
  text-decoration: underline;
}
/* top slider */
.slider-wrapper {
  margin-top: 20px;
  margin-bottom: -40px;
}
.slider-wrapper .nivoSlider {
  box-shadow: none;
  border: solid 5px #eee;
}
.slider-wrapper .nivo-controlNav {
  position: relative;
  bottom: 60px;
  z-index: 9;
}
.slider-wrapper .nivo-caption {
  bottom: 60px;
  left: 55px;
  right: auto;
  font-family: inherit;
  background: none;
}
@media screen and (max-width: 600px) {
  .slider-wrapper .nivo-caption {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    bottom: 15px;
    left: -50px;
  }
}
.slider-wrapper .nivo-caption a {
  text-decoration: none;
  border-bottom: none;
}
.slider-wrapper .nivo-caption .slide-title {
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-left: solid 4px #e10d0d;
  font-weight: lighter;
}
.slider-wrapper .nivo-caption .slide-desc span {
  background: rgba(225, 13, 13, 0.5);
  /* border-left: solid 4px black; */
  display: inline-block;
  font-size: 16px;
  padding: 8px;
}
.slider-wrapper .nivo-caption .slide-cta span {
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  padding: 10px;
  border-bottom: solid 2px black;
}
/* Flex Images */
.flex-images {
  border: none;
  padding: 15px 30px;
  margin-bottom: 30px;
}
.flex-images .section-title:after {
  width: 5%;
}
.flex-images .item {
  margin: 6px;
  border: none;
  position: relative;
}
.flex-images .item .viewtext {
  position: absolute;
  top: 35%;
  left: 40%;
  font-size: 14px;
  z-index: 9999;
  display: none;
}
.flex-images .item img {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.flex-images .item:after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 5px;
  bottom: 0px;
  background: rgba(225, 13, 13, 0.8);
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.flex-images .item:hover:after {
  width: 100%;
}
.flex-images .item:hover img {
  -webkit-filter: blur(3px) grayscale(0.9);
}
.flex-images .item:hover .flex-caption {
  padding-left: 20px;
}
.flex-images .item:hover .viewtext {
  display: block;
  color: #eee;
  text-shadow: 0 0 2px #000;
  background: #000;
  padding: 10px;
  border-radius: 10px;
}
.flex-images .flex-caption {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  bottom: 0px;
  display: block;
  pointer-events: none;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  width: 100%;
  color: #eee;
  font-weight: bold;
  text-shadow: 1px 1px 0 #222;
  font-size: 16px;
  padding: 50px 10px 20px 10px;
}
/* section titles */
.section-title {
  font-weight: normal;
  color: #777;
  font-size: 18px;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .section-title {
    margin-top: 20px;
  }
}
.section-title:after {
  content: "";
  display: block;
  width: 12%;
  height: 2px;
  margin-top: 5px;
  background: #e10d0d;
}
/* Second Featured Area */
.featured-2 {
  margin: 20px 0;
  position: relative;
}
.featured-2 .popular-articles {
  overflow: auto;
  overflow-x: hidden;
}
.featured-2 .popular-articles .imgcontainer {
  padding: 6px;
  position: relative;
}
.featured-2 .popular-articles .popimage {
  position: relative;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.featured-2 .popular-articles .popimage img {
  display: block;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
@media screen and (max-width: 991px) {
  .featured-2 .popular-articles .popimage img {
    width: 100%;
  }
}
.featured-2 .popular-articles .popimage:hover img {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  opacity: 1;
}
.featured-2 .popular-articles .popimage:hover .titledesc {
  display: block;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  /* left: 0; */
  opacity: 1;
}
.featured-2 .popular-articles .titledesc {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
  -moz-transition: 0.8s all ease;
  -ms-transition: 0.8s all ease;
  -o-transition: 0.8s all ease;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.featured-2 .popular-articles .titledesc h2 {
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.featured-2 .popular-articles .titledesc a {
  color: #eee;
  background: #e10d0d;
  text-align: center;
  display: block;
  width: 40%;
  padding: 5px;
  margin: auto;
  margin-top: 25px;
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .titledesc {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .popimage:hover img {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.featured-2 .popular-articles .imgcontainer:nth-child(odd) .popimage:hover .titledesc {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
/* sb slider */
.latest-hap {
  position: relative;
}
@media screen and (min-width: 991px) {
  .latest-hap {
    padding-right: 0;
  }
}
.latest-hap {
  max-width: 582px;
  z-index: 50;
}
@media screen and (max-width: 991px) {
  .latest-hap {
    margin: auto;
  }
}
.latest-hap .bx-wrapper .bx-viewport {
  margin-top: 25px;
  box-shadow: none;
}
.latest-hap .bxslider {
  margin-left: 0px;
}
.latest-hap .sb-description {
  pointer-events: none;
  z-index: 88;
  background: rgba(0, 0, 0, 0.4);
  border-left-color: #e10d0d;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  width: 95%;
  left: 2.5%;
  right: 2.5%;
  border-left: solid 4px #e10d0d;
  color: #ffffff;
}
.latest-hap .sb-description h3 {
  margin: 0;
  font-size: 19px;
}
.nav-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 100;
}
.nav-arrows a a {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  box-shadow: 0px 0px 1px #e10d0d;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.nav-arrows a a .fa {
  z-index: 99;
  color: white;
}
.nav-arrows a a:hover {
  background-color: rgba(225, 13, 13, 0.5);
}
.nav-arrows #slider-next {
  float: right;
  position: relative;
  right: 30px;
}
@media screen and (max-width: 991px) {
  .nav-arrows #slider-next {
    right: 45px;
  }
}
.nav-arrows #slider-next i {
  position: relative;
  font-size: 22px;
  top: 12px;
  right: -15px;
}
.nav-arrows #slider-prev {
  position: absolute;
  float: left;
  left: 5px;
}
.nav-arrows #slider-prev i {
  position: relative;
  font-size: 22px;
  top: 12px;
  right: -11px;
}
#content {
  margin-top: 30px;
}
.grid-row {
  margin: 0;
}
/* Grid */
.grid {
  margin: 10px 0;
  padding-left: 0;
  padding-bottom: 17px;
  border-bottom: solid 1px #eee;
}
@media screen and (max-width: 768px) {
  .grid {
    border-bottom: none;
  }
}
.grid:nth-last-child(2) {
  border: none;
}
.grid .featured-thumb {
  border-top: #e10d0d solid 3px;
  overflow: hidden;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .grid .featured-thumb img {
    width: 100%;
  }
}
.grid .featured-thumb img {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
.grid .featured-thumb:hover img {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .grid .out-thumb {
    padding: 10px 3px;
  }
}
.grid .out-thumb h1 {
  margin: 5px 0;
  margin-top: 1px;
  font-weight: normal;
  font-size: 19px;
}
.grid .out-thumb h1 a {
  color: #373737;
  padding-bottom: 2px;
}
.grid .out-thumb h1 a:before {
  height: 2px;
  background: #373737;
  width: 96%;
  left: 2%;
}
.grid .out-thumb .postedon {
  font-size: 12px;
  color: #aaa;
  font-weight: lighter;
  margin-bottom: 5px;
}
.grid .out-thumb .postedon a {
  color: #999;
  text-decoration: underline;
}
.grid .out-thumb .entry-excerpt {
  color: #777;
  line-height: 1.6em;
  font-weight: 400;
}
.grid .readmore {
  display: block;
  clear: both;
}
.grid .hvr-underline-from-center:before {
  height: 1px;
  background: #e10d0d;
}
.grid_2_column {
  padding: 0;
  border-bottom: none;
}
.grid_2_column .out-thumb {
  padding: 12px 0;
}
@media screen and (max-width: 768px) {
  .grid_2_column {
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .grid_2_column:nth-of-type(even) {
    padding-left: 10px;
  }
  .grid_2_column:nth-of-type(odd) {
    padding-right: 10px;
    clear: left;
  }
}
.grid_3_column {
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .grid_3_column:nth-of-type(odd) {
    padding-right: 10px;
    clear: none;
  }
  .grid_3_column:nth-of-type(3n+1) {
    clear: left;
  }
}
/* --------------- pagination ------------ */
.pagination {
  margin: 20px 0;
  padding-top: 25px;
  text-align: center;
  width: 100%;
  clear: both;
}
.pagination ul {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 0;
  margin-left: 0px;
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a {
  color: #dc0d0d;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.pagination ul > li > a:hover {
  color: #e10d0d;
  background: #ffffff;
}
.pagination .current {
  background: #ddd;
}
.pagination ul  > li  > a,
.pagination ul  > li  > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 5px;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  display: inline-block;
  color: #aaa;
}
.pagination ul  > li  > a:hover,
.pagination ul  > li  > span:hover {
  background: none;
}
#secondary {
  /*
aside:nth-child(odd) {
		background: #fafafa;
		border: solid 1px #eee;
	}
*/
  /* Some Styling for Default WordPress Widgets */
  /* Pulse Grow */
}
#secondary aside {
  padding: 10px;
}
#secondary h1.widget-title {
  font-weight: normal;
  color: #777;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 0px;
}
#secondary h1.widget-title:after {
  content: "";
  display: block;
  width: 12%;
  height: 2px;
  margin-top: 5px;
  background: #e10d0d;
}
#secondary .widget a {
  color: #888;
  font-weight: normal;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
#secondary .widget a:hover {
  color: #e10d0d;
}
#secondary .widget ul {
  font-size: 13px;
  margin-left: 0px;
}
#secondary .widget ul li {
  list-style: none;
  border-bottom: solid 1px #eee;
  padding: 6px;
}
#secondary .widget ul li:last-child {
  border-bottom: none;
}
#secondary .widget_search {
  margin-bottom: 20px;
}
#secondary .widget_search label {
  width: 100%;
}
#secondary .widget_search input[type=search] {
  background: white;
  border: solid 2px #f4f4f4;
  border-radius: 0px;
  padding: 15px;
  font-size: 16px;
  padding-bottom: 10px;
  outline: none;
  width: 80%;
}
#secondary .search-submit {
  display: none;
}
#secondary .widget_recent_entries ul li:before,
#secondary .widget_recent_comments ul li:before,
#secondary .widget_categories ul li:before,
#secondary .widget_pages ul li:before,
#secondary .widget_archive ul li:before,
#secondary .widget_meta ul li:before,
#secondary .widget_nav_menu ul li:before {
  content: "\f054";
  font-family: "FontAwesome";
  color: #b7b7b7;
  font-size: 10px;
  margin-right: 5px;
}
#secondary .widget_recent_entries ul li,
#secondary .widget_recent_comments ul li,
#secondary .widget_categories ul li,
#secondary .widget_pages ul li,
#secondary .widget_archive ul li,
#secondary .widget_meta ul li,
#secondary .widget_nav_menu ul li {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
#secondary .widget_recent_entries ul li:hover,
#secondary .widget_recent_comments ul li:hover,
#secondary .widget_categories ul li:hover,
#secondary .widget_pages ul li:hover,
#secondary .widget_archive ul li:hover,
#secondary .widget_meta ul li:hover,
#secondary .widget_nav_menu ul li:hover {
  transform: translateX(2px);
  -webkit-transform: translateX(2px);
  -moz-transform: translateX(2px);
  -ms-transform: translateX(2px);
  -o-transform: translateX(2px);
}
#secondary .widget_tag_cloud .tagcloud a {
  background: #e10d0d;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: lighter;
  color: #f4f4f4;
  padding: 7px 5px;
  margin-bottom: 5px;
  display: inline-block;
}
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
#secondary .tagcloud a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
#secondary .tagcloud a:hover,
#secondary .tagcloud a:focus,
#secondary .tagcloud a:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#secondary .widget_protopress_rp li.rp-item {
  overflow: auto;
  clear: both;
  display: block;
  padding: 8px 0px;
  font-size: 13px;
}
#secondary .widget_protopress_rp .rp-thumb {
  width: 52px;
  float: left;
  display: inline-block;
  margin-right: 6px;
}
#secondary .widget_protopress_rp .rp-date {
  color: #919191;
  font-size: 11px;
}
/* Footer Sidebar */
#footer-sidebar {
  background: #f4f4f4;
  border-top: solid 1px #eee;
}
#footer-sidebar .footer-column {
  /* Pulse Grow */
}
#footer-sidebar .footer-column h1.widget-title {
  font-weight: normal;
  font-size: 20px;
}
#footer-sidebar .footer-column .widget {
  color: #5e5e5e;
}
#footer-sidebar .footer-column .widget a {
  color: #777777;
  font-weight: lighter;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
#footer-sidebar .footer-column .widget a:hover {
  color: #e10d0d;
}
#footer-sidebar .footer-column .widget ul {
  margin-left: 0px;
}
#footer-sidebar .footer-column .widget ul li {
  list-style: none;
  padding: 5px;
  border-bottom: solid 1px #eaeaea;
}
#footer-sidebar .footer-column .widget ul li ul {
  margin-left: 5px;
}
#footer-sidebar .footer-column .widget ul li li {
  margin-left: 2px;
  border-bottom: none;
  padding: 2px;
}
#footer-sidebar .footer-column .widget_tag_cloud .tagcloud a {
  background: #e10d0d;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: lighter;
  color: #f4f4f4;
  padding: 7px 5px;
  margin-bottom: 5px;
  display: inline-block;
}
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
#footer-sidebar .footer-column .tagcloud a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
#footer-sidebar .footer-column .tagcloud a:hover,
#footer-sidebar .footer-column .tagcloud a:focus,
#footer-sidebar .footer-column .tagcloud a:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#footer-sidebar .footer-column .widget_protopress_rp li.rp-item {
  overflow: auto;
  clear: both;
  display: block;
  padding: 8px 0px;
  font-size: 13px;
}
#footer-sidebar .footer-column .widget_protopress_rp .rp-thumb {
  width: 52px;
  float: left;
  display: inline-block;
  margin-right: 6px;
}
#footer-sidebar .footer-column .widget_protopress_rp .rp-date {
  color: #919191;
  font-size: 11px;
}
#footer-sidebar .footer-column .widget_recent_entries ul li:before,
#footer-sidebar .footer-column .widget_recent_comments ul li:before,
#footer-sidebar .footer-column .widget_categories ul li:before,
#footer-sidebar .footer-column .widget_pages ul li:before,
#footer-sidebar .footer-column .widget_archive ul li:before,
#footer-sidebar .footer-column .widget_meta ul li:before,
#footer-sidebar .footer-column .widget_nav_menu ul li:before {
  content: "\f054";
  font-family: "FontAwesome";
  color: #b7b7b7;
  font-size: 10px;
  margin-right: 5px;
}
#colophon {
  background: #f4f4f4;
  padding: 15px 10px 5px 10px;
  color: #777777;
  font-size: 13px;
  text-align: center;
}
#colophon a {
  color: #777777;
  text-decoration: underline;
}
/* Single Posts Area */
#primary-mono {
  padding: 0 10px;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  #primary-mono {
    padding-left: 10px;
  }
}
#primary-mono h1.entry-title {
  font-weight: normal;
  color: #777777;
  font-size: 30px;
  margin-top: 0px;
  padding: 10px;
  padding-left: 0;
  margin-bottom: 0px;
}
#primary-mono h1.entry-title:after {
  content: "";
  display: block;
  width: 12%;
  height: 2px;
  margin-top: 5px;
  background: #e10d0d;
}
#primary-mono .entry-meta,
#primary-mono .entry-footer {
  font-size: 12px;
  border-bottom: solid 1px #eee;
  padding-bottom: 7px;
  overflow: auto;
}
#primary-mono .entry-meta a,
#primary-mono .entry-footer a {
  color: #777777;
  text-decoration: underline;
}
#primary-mono .entry-meta a:hover,
#primary-mono .entry-footer a:hover {
  color: #e10d0d;
}
#primary-mono .entry-footer {
  border-top: solid 1px #eee;
  padding-top: 7px;
  margin-top: 25px;
}
#primary-mono .entry-footer .post-edit-link {
  float: right;
}
#primary-mono .entry-footer .cat-links {
  margin-right: 6px;
}
#primary-mono .entry-content {
  color: #777777;
  line-height: 1.7em;
  font-size: 14px;
}
#primary-mono.page h1.entry-title:after {
  display: none;
}
.edit-link {
  display: inline-block;
  float: right;
}
.page-header {
  margin-top: 0px;
  border-bottom: none;
}
.page-header h1 {
  font-size: 18px;
  font-weight: lighter;
  border-bottom: solid 1px #e1e1e1;
  display: inline-block;
  padding-bottom: 10px;
}
/* Disable Repeated Featured Image on Every page */
.single-paged #primary-mono #featured-image {
  display: none;
}
/* --------------- comments -------------- */
#respond h3#reply-title {
  font-weight: normal;
  font-size: 32px;
}
#respond input[type=text] {
  max-width: 550px;
}
#respond input,
#respond textarea {
  background: #f2f2f2;
  border: solid 1px #cccccc;
  color: #777777;
  outline: none;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
}
#respond .comment-form-author input,
#respond .comment-form-email input,
#respond .comment-form-url input,
#respond .comment-form-comment input,
#respond .comment-form-author textarea,
#respond .comment-form-email textarea,
#respond .comment-form-url textarea,
#respond .comment-form-comment textarea {
  padding: 4px 5px 5px 10px;
  border-radius: 0;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  background: #e10d0d;
  color: #ffffff;
  border-bottom: solid 1px #e10d0d;
  padding: 5px;
  margin-right: -5px;
  min-width: 70px;
}
#respond .comment-form-comment label {
  margin-bottom: 0px;
}
#respond .form-submit input[type=submit] {
  box-shadow: none;
  text-shadow: none;
  padding: 10px;
  background: #ffffff;
  font-weight: bold;
  color: #e10d0d;
  margin-bottom: 60px;
}
#respond .comment-notes,
#respond .logged-in-as {
  color: #777777;
}
#comments {
  margin-top: 55px;
}
#comments h2.comments-title {
  font-size: x-large;
}
#comments ol.comment-list {
  list-style: none;
  margin-left: 0px;
}
#comments li.comment {
  border: solid 1px #e0e0e0;
  padding: 10px;
  margin-top: 15px;
  list-style: none;
  background: #f7f7f7;
}
#comments li.comment .comment-content {
  color: #777777;
  font-weight: lighter;
}
#comments li.trackback {
  background: #ffffff;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px #eee;
  font-weight: bold;
}
#comments li.trackback a {
  font-weight: normal;
}
#comments .vcard img {
  border: solid 4px #ffffff;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
#comments .form-allowed-tags {
  display: none;
}
#comments .comment-metadata {
  font-weight: bold;
}
#comments .comment-metadata time {
  float: right;
  color: #b3b3b3;
  font-weight: lighter;
  font-style: italic;
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  li.comment {
    margin-left: -5%;
  }
}
